<h1>Welcome to Meadowlark Travel</h1>

<h2>It's <span id='dayOfWeek'>{{dayOfWeek}}</span></h2>

<ul style="list-style-type:none">
    <li><a href="about">About</a></li>
    <li>Tours</li>
    <ul style="list-style-type:none">
        <li><a href="tours/hood-river">Hood-River</a></li>
        <li><a href="tours/oregon-coast">Oregon-Coast</a></li>
        <li><a href="tours/tours-info">Tours Info</a></li>
    </ul>
    <li><a href="jquery-test">jQuery Test</a></li>
    <li><a href="health">Health Check</a></li>
    <li><a href="nursery-rhyme">Nursery-Rhyme</a></li>
</ul>

<br>
<br>
{{> weather}}
